{
  "env": {
    "browser": true,
    "es2021": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "script"
  },
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_$" }],
    "semi": [2, "always"],
    "no-irregular-whitespace": "error",
    "indent": ["error", 2]
  },
  "globals": {
    "network": "readonly",
    "ethers": "readonly",
    "require": "readonly",
    "module": "writable"
  }
}
