# Mnemonic phrases and private keys to use for network deploys (see truffle.js).
MAINNET_MNEMONIC=
RINKEBY_MNEMONIC=
MUMBAI_MNEMONIC=
KLAYTN_PRIVATE_KEY=
BAOBAB_PRIVATE_KEY=
KAS_ACCESS_KEY_ID=
KAS_SECRET_KEY=
INFURA_KEY=
